{{interrupt_data['details']}}

</br>
<form id="myForm" action="{{interrupt_data['submit_url']}}" method="POST",>
    {% csrf_token %}
        <input name="partial_token" type="hidden" value="{{interrupt_data['partial_token']}}">
    <label>email
        <input id="email" title="email" name="email" type="email" value="" >
    <button type="submit">Register</button>
    </label>
</form>

<script>
    var form = document.getElementById('myForm');
    form.onsubmit = function(event){
        var formData = new FormData(form);
        //open the request
        fetch('{{interrupt_data['submit_url']}}', {
            method: 'post',
            headers: {
                "Content-Type": "application/json",
                "X-Requested-With": "XMLHttpRequest",
            },
            redirect: 'follow',
            body: JSON.stringify(Object.fromEntries(formData)),

        })
            .then(response => {
                console.log(response)
                if (response.redirected) {
                    window.location.href = response.url;
               }
                res.json()
            }).then(res => {
                console.log(res)
            })
        return false;
    }
</script>

